@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
    <h2>Something went wrong please try again later!!</h2>
    </div>
</body>
</html>
