body {
    background-image: url("../../Images/bground.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.whole-continer {
    margin-left: 5%;
    margin-right: 5%;
}

.top-nav {
    margin-top: 3%;
    position: relative;
    background-color: white;
    border-color: #333333;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid;
    border-radius: 10px;
    height: 60px;
}

.container {
    width: 94%;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: auto;
    /*margin-left: auto;*/
    display: flex;
}

.title-bar {
    width: 20%;
}
.option-bar{

    line-height:20px;
    float:left;
}
.title-nav {
    text-decoration: none;
    color: orange;
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
}

    .title-nav a:hover {
        color: black;
    }

.body-content {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    border-radius: 3%;
}

h2 {
    color: orange;
}

ul {
    list-style: none;
    background-color: white;
    text-align: center;
}

    ul li {
        display: inline-block;
        position: relative;
        line-height: 20px;
        width: 150px;
        right: 0;
    }

        ul li a {
            text-decoration: none;
            color: black;
            display: block;
            padding: 8px 25px;
        }

            ul li a:hover {
                text-decoration: none;
                color: orange;
            }

        ul li ul.drop-down {
            display: none;
            position: absolute;
        }

        ul li:hover ul.drop-down {
            display: block;
            text-align:left;
        }

        ul li ul.drop-down li {
            display: block;
        }

.error-text {
    color: red;
    font-size: 12px;
}


.box{
    border-radius:5px;
    height:20px;
    width:200px;
    border-color:orange;
}

.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: white;
    background-color: orange;
    text-align: center;
    transition: all 0.2s;
}

    .button:hover {
        color: black;
    }

@media all and (max-width:30em) {
      .button {
        display: block;
        margin: 0.2em auto;
    }
}

.view-table{
    border-collapse:collapse;
}
.view-table th{
    background-color:orange;
    height:30px;
    color:white;
}
.view-table a{
    display: inline-block;
    padding: 0.2em 1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 100;
    color: white;
    background-color: orange;
    text-align: center;
    transition: all 0.2s;
}
.view-table a:hover{
    color:black;
}
.completed-message{
    color:green;
    text-align:center;
    padding-left:50px;
}
