body {
    background-image: url("../../Images/bground.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.whole-continer {
    margin-left: 5%;
    margin-right: 5%;
}

.top-nav {
    margin-top: 3%;
    position: relative;
    background-color: white;
    border-color: #333333;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid;
    border-radius: 10px;
    height: 60px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: auto;
    /*margin-left: auto;*/
    display: flex;
}
.title-bar{
    width:30%;
}
.title-nav {
    text-decoration: none;
    color: orange;
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
}

    .title-nav a:hover {
        color: black;
    }

.body-content {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    border-radius: 3%;
}

h2 {
    color: orange;
}

ul {
    list-style: none;
    background-color: white;
    text-align:center;
}

    ul li {
        display: inline-block;
        position:relative;
        line-height: 20px;
        width:150px;
        right:0;
    }

        ul li a {
            text-decoration: none;
            color: black;
            display: block;
            padding:8px 25px;
        }

            ul li a:hover {
                text-decoration: none;
                color: orange;
            }

                ul li ul.drop-down {
                    display: none;
                    position: absolute;
                }

                ul li:hover ul.drop-down {
                    display: block;
                    text-align:center;
                }
                ul li ul.drop-down li{
                    display:block;
                }
.error-text{
    color:red;
    font-size:12px;
}