
@{
    ViewBag.Title = "DeleteEvent";
}

@using (Html.BeginForm("DeleteEvent", "Event", FormMethod.Post))
{
    <p>Are you sure to delete</p>
    <input type="submit" name="Confirm" value="Confirm" />
}